@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Arimo&display=swap');
@media only screen and (max-width : 1199px) {
#wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}
#service, #contacts, #lips, #botulinotherapy, #mezo, #bio, #pilings{
    width: 550px;
    height: 350px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: -10px 0 0 rgba(255, 255, 255, 0.9), 10px 0 0 rgba(255, 255, 255, 0.9);
    padding: 0 10px 0 0;
    color: #FFFFFF;
    line-height: 14px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
#service:target, #lips:target, #contacts:target, #botulinotherapy:target, #mezo:target, #bio:target, #pilings:target
{display: block;}

html{
    background: url("Images/moscow.logo.png") no-repeat;
    background-position: top -50px center;
    background-color: white;
    margin-top: 5%;
    height: 105px;
}
.content {
    background: url("Images/background2.png") no-repeat, fixed, top;
    background-size: cover;
    height: 500px;
}
.text{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    color: #131313;
    letter-spacing: .15em;
    margin-bottom: 0;
}


h2{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    opacity: 0.9;
    font-size: 2em;
    text-align: center;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    color: #000;
    letter-spacing: .15em;
    margin-bottom: 0;
    }

hr {
    width: 300px;
    border: none; /* Убираем границу */
    background-color: black; /* Цвет линии */
    color: black; /* Цвет линии для IE6-7 */
    height: 2px;} /* Толщина линии */
a {text-decoration: none;}

.logo, .logo2, .table {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    letter-spacing: .15em;
    margin-bottom: 0;
}

.logo {
    color: #131313;
    font-size: 3em;
    text-shadow:
      1px -1px 0 #767676,
      -1px 2px 1px #737272;
    }

.logo2{
    color: #131313;
    font-size: 1em;
    font-weight: bold;}
.logo2 p{
    text-align: center;
    color:#6699ff
}
.logo2 h2{
    text-align: left;
}
.logo2 span {
    text-align: left;
    color: #6699ff;
}
.logo2 li{text-align: left}

.table {
    margin: auto;
    text-align: left;
}
.list{
    list-style: none;
    font-family: sans-serif;
    font-size: 0.9em;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    color: #131313;
    letter-spacing: .15em;
    margin-bottom: 0;}
.list a{text-decoration: none;
    color:black}
.list a:hover{
    color: #6699ff;
}
.nav{text-align: center;}
.links a {
    text-decoration: none;
    color: black}
.links a:hover {color: red;}
.links {
    text-align: center;
    letter-spacing: 0;
    text-transform: uppercase;
    list-style-type: none;
    display: inline; /* Отображать как строчный элемент */
    margin-right: 20px;}
.social a {
    text-align: center;
    width: 30px;
    height: 30px;
    float: left;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    color: #000; }

table {
    font-size: 14px;
    max-width: 70%;
    width: 70%;
    border-collapse: collapse;
    text-align: left;
}
th {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-weight: bold;
    color: black;
    padding: 10px 8px;
}
td {
  color: black;
  padding: 9px 8px;
  transition: .3s linear;
}
tr:hover td {color: #6699ff;}
.close {
float: right;
position: absolute;
right: 32px;
top: 32px;
width: 32px;
height: 32px;
opacity: 0.3;
}
.close:hover {
opacity: 1;
}
.close:before, .close:after {
position: absolute;
left: 15px;
content: ' ';
height: 33px;
width: 2px;
background-color: #333;
}
.close:before {
transform: rotate(45deg);
}
.close:after {
transform: rotate(-45deg);
}
.arrow-left {
    float: left;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right: 30px solid black;
}
.arrow-right {
    margin-bottom: 10px;
    float: right;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid black;
}
.el_icons ul{
    text-align: center;
    list-style-type: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);}
.el_icons li {display: inline}
.arrow-left:hover {
    float: left;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right: 30px solid #6699ff;}
.arrow-right:hover{
    float: right;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left:30px solid #6699ff;}
.instagram a:hover {background: #3f729b; color: #fff;}
.vk a:hover {background: #5d84ae; color: #fff;}
.facebook a:hover {background: #3b5998; color: #fff;}
.envelope a:hover {background: #3f729b; color: #fff;}
.telegram a:hover {background: #249bd7; color: #fff;}
